

<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" ng-controller="ApplicationCtrl">
  <h1>Applications</h1>

  <h2>Section title</h2>



  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>#</th>
          <th>app name</th>
          <th>description</th>
          <th> status </th>
        </tr>
        <tr ng-repeat="app in appsList">
          <td>{{app.id}}</td>
          <td>{{app.name}}</td>
          <td>{{app.description}}</td>
          <td><span class="text-success"><i class="fa fa-check"></i></span></td>
        </tr>
      </tbody>
    </table>
</div>

  <section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">

      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <div class="text-muted">{{id}}</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </section>

</main>
